@mixin flexDirection($direction) {
  @if $direction == reverse {
    flex-direction: row-reverse;
  } @else {
    flex-direction: row;
  }
}

@mixin component {
  width: 100%;
  max-width: 1300px;
  margin: 10rem auto;
  padding: 3.5rem 0;
  padding-right: 50px;
  padding-left: 50px;
}
